.main-nav {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0.1rem;
  background-color: #13a4a4;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  background-color: cornflowerblue;
}
/* PSUEDOCLASES */
.main-nav__item a:hover {
  color: coral;
}
/* PSUEDOCLASES */
.main-nav__item a:active {
  color: crimson;
}
/* PSEUDOELEMENTO */
.main-nav__item a::after {
  content: "]";
}
/* PSEUDOELEMENTO */
.main-nav__item a::before {
  content: "[";
}

.caja-hijo {
  width: calc(50% - 20px);
}

/* SELECTOR UNIVERSAL */
*{
    /* RESTAMOS EL PADDING Y EL BORDER AL WIDTH */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    width: 100%;
    height: 20rem;
    border: 1rem solid goldenrod;
    padding: 2rem 3.5rem;
}