* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

header {
  background-color: peachpuff;
  padding: 20px;
  list-style: none;
}

figure {
  display: inline-block;
}

nav {
  display: inline-block;
}

.nav li{
    text-align: end;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: end;
}

.nav span {
  text-align: start;
}

.container {
  background-color: cadetblue;
  display: inline-block;
  width: 60%;
}

.row {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 8px;
  height: 110px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

/* Create two equal columns that floats next to each other */
.column-one {
  float: left;
  width: 30%;
  padding: 10px;
  height: 502px; /* Should be removed. Only for demonstration */
  background-color: #2196f3;
}

.column-two {
  float: left;
  width: 70%;
  padding: 10px;
  height: 502px; /* Should be removed. Only for demonstration */
  background-color: cadetblue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-content {
  width: 100%;
}

.futer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}

.grid-container {
  display: grid;
  width: 40%;
  gap: 10px;
  height: 31.4rem;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
}
