* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h3 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* LOS ELEMENTOS DENTRO DE LA FILA SE ACOMODAN AUTOMATICAMENTE
  display: flex;
  flex-wrap: wrap; */

.container-flex {
  border: 0.3rem solid black;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.container-row-reverse {
  border: 0.3rem solid black;
  display: flex;
  flex-direction: row-reverse;
}

.container-column {
  border: 0.3rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-center {
  border: 0.3rem solid black;
  display: flex;
  justify-content: center;
}

.container-evenly {
  border: 0.3rem solid black;
  display: flex;
  justify-content: space-evenly;
}

.container-stretch {
  display: flex;
  align-items: stretch;
  border: 0.3rem solid black;
  height: 50vh;
}

.container-baseline {
  display: flex;
  align-items: baseline;
  border: 0.3rem solid black;
  height: 30vh;
}

.box {
  width: 10rem;
  height: 10rem;
}

.boxSin {
  width: 10rem;
}

.box1 {
  background-color: aquamarine;
  /* order: 2; */
}

.box2 {
  background-color: brown;
  /* order: 4; */
}

.box3 {
  background-color: coral;
}

.box4 {
  background-color: cornflowerblue;
}

.box5 {
  background-color: crimson;
}

.box6 {
  background-color: blue;
}
